<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0 bg-dark">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h5 class="h1 text-white">Connect with us</h5>
          <p class="small text-white mb-0">Stay connected with friends and family on ZenHub.</p>
          <div class="social-icons m-3">
            <a href="https://www.facebook.com/" class="social-icon ms-5 mx-3"><i class="fa fa-facebook-f"></i></a>
            <a href="https://twitter.com/i/flow/login" class="social-icon mx-3"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="social-icon mx-3"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="/">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5 class="text-white mb-3">Stay Updated</h5>
            <p class="small text-white">Subscribe to our newsletter for the latest updates and news.</p>
            <form action="#">
              <div class="input-group mb-3">
                <input class="form-control" type="email" placeholder="Your email" aria-label="Your email" aria-describedby="button-addon2">
                <button class="btn btn-primary" id="button-addon2" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
      </div>
      <div class="text-center text-white mt-4">
        <p class="small">&copy; 2023 ZenHub. All rights reserved. <b class="text-primary">@Gaurav</b></p>
      </div>
    </div>
</footer>
  