<link rel="stylesheet" href="/css/home.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    <div id="left-div">
        <h3>Posts</h3>

        <!-- show posting form only if user is signed in -->
        <% if (locals.user) { %>
          <form action="/posts/create" id="new-post-form" method="POST" class="mb-3">
            <div class="form-group">
              <textarea class="form-control" name="content" rows="5" placeholder="Start typing here ..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Post</button>
          </form>
        <% } %>

        <div id="posts-list-container">
            <ul id="posts-list">
                <% for(post of posts){ %>
                    <%- include('_post'); %>
                <% } %>
            </ul>
        </div>

    </div>

    <div id="right-div">

      <section id="user-friends">
        <h4 class="mb-3">Friends</h4>
        <ul class="list-group">
            <% for (u of all_users) { %>
            <li class="list-group-item friend-item">
                <div class="d-flex align-items-center">
                    <img src="https://w7.pngwing.com/pngs/419/473/png-transparent-computer-icons-user-profile-login-user-heroes-sphere-black-thumbnail.png" alt="Profile Picture" class="rounded-circle me-3" width="40" height="40">
                    <a href="/users/profile/<%= u.id %>">
                        <%= u.name %>
                    </a>
                </div>
            </li>
            <% } %>
        </ul>
    </section>
    
    
       
    </div>
</div>


<script src="/js/home_posts.js"></script>
