<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div id="left-div">
        <h3>Posts</h3>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Start typing here ..."></textarea>
            <input type="submit" value="Post">
        </form>
    </div>

    <div id="right-div">

    </div>
</div>