
  
header {
  .navbar{
    background-color: #1D1842;

    .navbar-brand {
      .zenhub {
        color: white;
        font-size: 36px;
        font-weight: bold;
        padding: 4px 10px;
        margin-left: 20px;

        &:hover {
          color: #FDA1A2;
          background-color: #0C1A1A;
          border-radius: 10px;
          border: 1px solid #FDA1A2;
        }
      }
    }

    #navbarNav{
      
      .nav-item {
        margin: 0 10px;
        

        .nav-link {
          color: white;
          font-weight: bold;

          &:hover {
            color: #FDA1A2;
          }
        }

        &:hover {
          border: 1px solid #FDA1A2;
          border-radius: 10px;
          background-color: black;
        }
    }
    }
  }
}