$bg-color: #f5fefd;
$left-bg-color: #f7f7f7;
$right-bg-color: #f7f7f7;

body{
  background-color: $bg-color;
  .container {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  
    #left-div {
      width: 60%;
      padding: 20px;
      background-color: $left-bg-color;
      overflow-y: auto;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 10px 0 10px 0;

      #posts-list-container{
        li {
          list-style: none;
        }
      }
    }
  
    #right-div {
      margin-top: 10px;
      width: 35%;
      padding: 20px;
      background-color: $right-bg-color;
      position: sticky;
      top: 20px;
      overflow-y: auto;
      // background-color: #F2F2F2;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
      section {
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .list-group-item {
          margin: 1px 0 1px 0;
          border: 1px solid #CCCCCC;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          background-color: $bg-color;
  
          .user-a-name{
              text-decoration: none;
              font-size: large;
              color: black;
              font-weight: bold;
  
              &:hover{
                text-decoration: underline;
                padding-left: 10px;
              }
          }
        }
      }
      
    }
  }
}
  